<div class="bg-gray-800 w-72 text-white h-full p-4 pt-8">
    <span class="font-bold p-2">Book
    <span class="bg-orange-400 p-2">App</span></span>

  <div class="mt-4 flex flex-col">
    <a routerLink="/intranet/" class="hover:bg-gray-200 cursor-pointer hover:text-gray-800 p-2">Dashboard</a>
    <a routerLink="/intranet/about" class="hover:bg-gray-200 cursor-pointer hover:text-gray-800 p-2">About us</a>
    <a routerLink="/intranet/settings/general" class="hover:bg-gray-200 cursor-pointer hover:text-gray-800 p-2">Settings</a>
    <a routerLink="/login" class="hover:bg-gray-200 cursor-pointer hover:text-gray-800 p-2">Logout</a>
  </div>
</div>
