<div class="flex flex-col p-4">
  <div class="flex flex-row justify-between">
    <div>
      <span *ngIf="q">Resultados para {{ q }}</span>
      <span *ngIf="!q">Resultados: </span>
    </div>
    <input type="text" [(ngModel)]="q" (ngModelChange)="search()" class="border border-amber-500">
  </div>

  <div class="flex flex-wrap gap-3">
    <div *ngIf="!books.content">No hay resultados</div>
    <div *ngFor="let book of books.content; index as idx" class="border border-solid border-gray-100 shadow w-1/3 rounded overflow-hidden">
      <div class="flex flex-col">
        <img src="https://loremflickr.com/640/360" alt="å">
        <div class="text-xl font-bold p-4">{{ book.title }}</div>
        <div class="text-xs p-4 pt-0">
          {{ book.description }}
        </div>
      </div>
    </div>
  </div>
</div>
